# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Uploads / output (optional, agar aap server pe generate kar rahe ho)
uploads/
output/
public/downloads/

# IDE / editor specific
.vscode/
.idea/

# Temp files
*.tmp
*.swp
